body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.addMovies{
display: flex;
justify-content:space-around;
align-items: baseline;
}
.App{
  background-color: rgb(17, 16, 17);
}
.aa{
  text-decoration: none;
    font-size: 1.8em;
    color: #e50914;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: rgb(43, 17, 17) 10px 10px 10px;
}

.aa:hover{
    z-index: 1;
    transform: scale(1.25);
    text-size-adjust: 50;
    }
